*{ 
margin:0;
padding:0;
box-sizing:border-box ;
}

header{
background:yellow;

}

header

 > h1{
    color:black;
    margin-top: 20px ;
    text-align:center;
    font-family:'Gill Sans', sans-serif;
}


 .images {
    border-radius: 25px; 
    margin-top:20px ;
    display:flex;
    justify-content:center; 
}
 img{
     width:1000px;
     height: 500px;
    object-fit:fill;
}
.container{
        margin-top: 20px;
        display:flex;
        justify-content:center;
        background-color:red ;  
}

 .computer{
    margin-top: 20px; 
    background: lightskyblue;
    /* border-radius: 25px;  */
    margin-top:20px ;
    display:flex;
    justify-content:center; 

}

.player{
    background: lightskyblue;
    /* border-radius: 25px;  */
    margin-top: 20px;
    display:flex;
    justify-content:center; 

}


button{
    background-color:yellow; 
    margin-top:20px ;
    text-align: center;
    font-size: 26px;
    font-family:'Gill Sans', sans-serif; 

}
button{
    width:120px ;
    height:80px ;
    border-radius: 50px;
  }

.choices{
    background-color: lightskyblue;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.buttoncontainer{
    background-color:red;  
    margin-top: 50px; 
    width: 500px;
    margin-left: 37%;
    display:flex;
    justify-content: space-around;
    flex-direction: row;
 }

p> {
   margin-top: 20px; 
   font-family:'Gill Sans', sans-serif;
}





